{% extends 'web_base.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/movies/movies_side.css' %}?version=0.0.2.8">
    <link rel="stylesheet" href="{% static 'css/movies/movies.css' %}?version=0.0.0.4">
    <link rel="stylesheet" href="{% static 'css/home/home_css.css' %}?version=0.0.0.8">
    <link rel="stylesheet" href="{% static 'css/element-ui@2.13.1/lib/theme-chalk/index.css' %}">

{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/npm/vue@2.6.11' %}?version=0.0.3"></script>
    <script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/json.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/movies/movies.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/npm/element-ui@2.13.1/lib/index.js' %}?version=0.0.2"></script>

{% endblock %}

{#不继承滚动轮播图#}
{% block banner %}
{% endblock %}


{% block body %}
    <div class="service_foot" style="height: 50px;width: 100%">
        <div class="movies_search">
{#            <input type="search" placeholder="在这里搜索">#}
            <img src="{% static  'img/movies/search.png' %}">
        </div>
    </div>

    <div onclick='emby_login()'><a>11111111111111111</a></div>
    <div class="movies_wrapper">

        <div id="nav" class="movies_side_nav">
            <div class="movies_side_icon">
                <ul>
                    <li><a title="#" href="#"><i class="fa fa-home">电影</i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog ">上次观看</i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog ">分类</i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog "></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog "></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog "></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog "></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-search ">搜索</i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog ">浏览记录</i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog ">最多播放</i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog ">最近更新</i></a>
                    </li>

                </ul>
            </div>
            <div class="text">
                <ul>
                    <li><a title="#" href="#"></a>
                    </li>
                    <li><a href="#">上次观看电影名称</a>
                    </li>
                    <li><a href="#">喜剧</a>
                    </li>
                    <li><a href="#">动作</a>
                    </li>
                    <li><a href="#">悬疑</a>
                    </li>
                    <li><a href="#">科幻</a>
                    </li>
                    <li><a href="#">惊悚</a>
                    </li>
                    <li><a href="#">动画</a>
                    </li>
                    <li><a href="#">纪录片</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="main-wrap">
            <div class="main">
                <div class="list">
                    <div class="content">
                        <ul class="covers"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{#不继承侧边跳链#}
{% block jump %}
{% endblock %}